
@font-face {
  font-family: 'VNF-Gotham';
  src: url('VNF-Gotham.eot?#iefix') format('embedded-opentype'),  url('VNF-Gotham.woff') format('woff'), url('VNF-Gotham.ttf')  format('truetype'), url('VNF-Gotham.svg#VNF-Gotham') format('svg');
  font-weight: normal;
  font-style: normal;
}
