
@font-face {
  font-family: 'iCielGotham-Medium';
  src: url('iCielGotham-Medium.eot?#iefix') format('embedded-opentype'),  url('iCielGotham-Medium.otf')  format('opentype'),
	     url('iCielGotham-Medium.woff') format('woff'), url('iCielGotham-Medium.ttf')  format('truetype'), url('iCielGotham-Medium.svg#iCielGotham-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
